<html>
	<head>
		<link rel="stylesheet" href="css/style-login.css" />
	</head>

    <body>
    	<h1>Login</h1>

    	<form action="hybrid:Login" method="post">
			<label>Email</label>
			<input name="email" />

			<label>Password</label>
			<input name="password" />

			<input name="buttonSubmit" type="submit" value="Login" />
		</form>
    </body>
</html>
